* {
    margin: 0;
    padding: 0;
}

// main
.main {
    margin: auto;
    height: auto;
    width: 90%;

    // up part
    .up-img {
        margin-top: 20px;
        //1 img
        img {
            width: 100%;
        }
    }

    .up-img2 {
        margin-top: 35px;

        //2 img
        img {
            width: 100%;
        }
    }

    .up-img3-main {
        display: grid;
        grid-template-columns: repeat(3,1fr);

        .up-img3-first {

            img {
                width: 100%;
            }
        }

        .up-img3-second {
            img {
                width: 100%;
            }
        }
    }

    .up-img5-main{
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }

    .up-img4-main {
        display: flex;
        margin-bottom: 35px;
        justify-content: space-around;

        .up-img4-first {
            img {
                width: 100%;
            }
        }

        .up-img4-second {
            img {
                width: 100%;
            }
        }
    }
    .bottom-images {
        display: grid;
        padding-top: 35px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    
        .single-bottom-image{
            width: 100%;
            height: auto;
        }
    }

    .botton-last-img{

        display: grid;
        padding-top: 35px;
        grid-template-columns: repeat(4,1fr);

    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }

    .up-img6-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}



// Media Querry-------------------


//Large Screen
@media only screen and (min-width: 1201px){
    .main {
        margin: auto;
        height: auto;
        width: 90%;

        // up part
        .up-img {
            margin-top: 20px;
            //1 img
            img {
                width: 100%;
            }
        }

        .up-img2 {
            margin-top: 35px;

            //2 img
            img {
                width: 100%;
            }
        }

        .up-img3-main {
            display: grid;
            grid-template-columns: repeat(3,1fr);

            .up-img3-first {

                img {
                    width: 100%;
                }
            }

            .up-img3-second {
                img {
                    width: 100%;
                }
            }
        }

        .up-img5-main{
            display: grid;
            grid-template-columns: repeat(6,1fr);
        }

        .up-img4-main {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;

            .up-img4-first {

                img {
                    width: 100%;
                }
            }

            .up-img4-second {
                img {
                    width: 100%;
                }
            }
        }
        .bottom-images {
            display: grid;
            padding-top: 35px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            margin: auto;

            .single-bottom-image{
                width: 100%;
                height: auto;
            }
        }

    .botton-last-img{

        display: grid;
        padding-top: 35px;
        grid-template-columns: repeat(4,1fr);
        
    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }

    .up-img6-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    }
}

// mid 
@media only screen and (min-width: 750px) and (max-width: 1200px){
    .main {
        margin: auto;
        height: auto;
        width: 90%;

        // up part
        .up-img {
            margin-top: 20px;
            //1 img
            img {
                width: 100%;
            }
        }

        .up-img2 {
            margin-top: 35px;

            //2 img
            img {
                width: 100%;
            }
        }

        .up-img3-main {
            display: grid;
            margin-top: 10px;
            grid-template-columns: repeat(2,1fr);

            .up-img3-first {

                img {
                    width: 100%;
                }
            }

            .up-img3-second {
                img {
                    width: 100%;
                }
            }
        }

        .up-img5-main{
            display: grid;
            margin-top: 10px;
            grid-template-columns: repeat(3,1fr);
        }

        .up-img4-main {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;

            .up-img4-first {

                img {
                    width: 100%;
                }
            }

            .up-img4-second {
                img {
                    width: 100%;
                }
            }
        }
        .bottom-images {
            display: grid;
            padding-top: 35px;
            margin-top: 10px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            margin: auto;

            .single-bottom-image{
                width: 100%;
                margin-top: 50px;
                height: auto;
            }
        }
        
    .botton-last-img{

        display: grid;
        padding-top: 35px;
        margin-top: 10px;
        grid-template-columns: repeat(2,1fr);
        
    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }
    .up-img6-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    }
}

//Small Screen

@media only screen and  (max-width: 749px) {
    .main {
        margin: auto;
        height: auto;
        width: 90%;

        // up part
        .up-img {
            margin-top: 20px;
            //1 img
            img {
                width: 100%;
            }
        }

        .up-img2 {
            margin-top: 35px;

            //2 img
            img {
                width: 100%;
            }
        }

        .up-img3-main {
            display: grid;
            grid-template-columns: repeat(1,1fr);

            .up-img3-first {

                img {
                    width: 100%;
                }
            }

            .up-img3-second {
                img {
                    width: 100%;
                }
            }
        }
        .up-img5-main{
            display: grid;
            padding-top: 50px;
            grid-template-columns: repeat(1,1fr);

            .img1{
                padding-bottom: 20px;
            }
            .img2{
                padding-bottom: 20px;
            }
            .img3{
                padding-bottom: 20px;
            }
            .img4{
                padding-bottom: 20px;
            }
            .img5{
                padding-bottom: 20px;
            }
            .img6{
                padding-bottom: 20px;
            }
        }

        .up-img4-main {
            display: flex;
            margin-top: 50px;
            justify-content: space-around;

            .up-img4-first {

                img {
                    width: 100%;
                }
            }

            .up-img4-second {
                img {
                    width: 100%;
                }
            }
        }

        .bottom-images {
            display: grid;
            padding-top: 35px;
            margin-top: 10px;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto;
            margin: auto;

            .single-bottom-image{
                width: 100%;
                margin-top: 50px;
                height: auto;
            }
        }

        
    .botton-last-img{

        display: grid;
        padding-top: 35px;
        margin-top: 10px;
        grid-template-columns: repeat(1,1fr);
        
    .bottom-last-single-img{
        width: 100%;
        height: auto;
    }
    }
    .up-img6-main{
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(1,1fr);
    }
    .up-img6-first{
        margin-bottom: 33px;
    }
    .up-img7-main{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    }
}


//navOther part

// .nav-main-logo{ 
//     display:flex;

//     .nav-logo {
//         width: px;
//         margin-left: 40px;
//         margin-right: 30px;
//     }

//     .nav-input{
//         margin-top: 10px;
//         border-radius:  3px;
//         width: 200px;
//         border: 1px solid gray;
//         height: 45px;
//     }

//     .main-icon{

//         .icons-box-reward{
//             margin-left: 38px;

//             .icon-reward{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 15px;
//             }
//         }

//         .icon-box-dollor{
//             margin-left: 30px;

//             .icon-dollor{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 20px
//             }

//         }

//         .icon-box-account{

//             margin-left: 30px;

//             .icon-account{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 15px;
//             }
//         }

//         .icon-box-bag{
//             margin-left: 30px;

//             .icon-bag{
//                 height: 30px;
//                 width: 25px;
//             }
//         }
//     }

// }


// //Large Screen navbarother
// @media only screen and (min-width: 1201px){

// .nav-main-logo{ 
//     display:flex;

//     .nav-logo {
//         width: 280px;
//         margin-left: 40px;
//         margin-right: 30px;
//     }

//     .nav-input{
//         margin-top: 10px;
//         border-radius:  3px;
//         width: 200px;
//         border: 1px solid gray;
//         height: 45px;
//     }

//     .main-icon{

//         .icons-box-reward{
//             margin-left: 38px;

//             .icon-reward{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 15px;
//             }
//         }

//         .icon-box-dollor{
//             margin-left: 30px;

//             .icon-dollor{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 20px
//             }

//         }

//         .icon-box-account{

//             margin-left: 30px;

//             .icon-account{
//                 height: 30px;
//                 width: 25px;
//                 margin-left: 15px;
//             }
//         }

//         .icon-box-bag{
//             margin-left: 30px;

//             .icon-bag{
//                 height: 30px;
//                 width: 25px;
//             }
//         }
//     }

// }

// }


// // mid Screen navbarother
// @media only screen and (min-width: 750px) and (max-width: 1200px){
//     .nav-main-logo{ 
//         display:flex;
    
//         .nav-logo {
//             width: 280px;
//             margin-left: 40px;
//             margin-right: 30px;
//         }
    
//         .nav-input{
//             margin-top: 10px;
//             border-radius:  3px;
//             width: 200px;
//             border: 1px solid gray;
//             height: 45px;
//         }
    
//         .main-icon{
    
//             .icons-box-reward{
//                 margin-left: 38px;
    
//                 .icon-reward{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 15px;
//                 }
//             }
    
//             .icon-box-dollor{
//                 margin-left: 30px;
    
//                 .icon-dollor{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 20px
//                 }
    
//             }
    
//             .icon-box-account{
    
//                 margin-left: 30px;
    
//                 .icon-account{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 15px;
//                 }
//             }
    
//             .icon-box-bag{
//                 margin-left: 30px;
    
//                 .icon-bag{
//                     height: 30px;
//                     width: 25px;
//                 }
//             }
//         }
    
//     }
    
// }


// // small navbarothr
// @media only screen and  (max-width: 749px) {
//     .nav-main-logo{ 
//         display:flex;
    
//         .nav-logo {
//             width: 280px;
//             margin-left: 40px;
//             margin-right: 30px;
//         }
    
//         .nav-input{
//             margin-top: 10px;
//             border-radius:  3px;
//             width: 200px;
//             border: 1px solid gray;
//             height: 45px;
//         }
    
//         .main-icon{
    
//             .icons-box-reward{
//                 margin-left: 38px;
    
//                 .icon-reward{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 15px;
//                 }
//             }
    
//             .icon-box-dollor{
//                 margin-left: 30px;
    
//                 .icon-dollor{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 20px
//                 }
    
//             }
    
//             .icon-box-account{
    
//                 margin-left: 30px;
    
//                 .icon-account{
//                     height: 30px;
//                     width: 25px;
//                     margin-left: 15px;
//                 }
//             }
    
//             .icon-box-bag{
//                 margin-left: 30px;
    
//                 .icon-bag{
//                     height: 30px;
//                     width: 25px;
//                 }
//             }
//         }
    
//     }
    
// }
